:root {

	--latte-rosewater-h: 11;
	--latte-rosewater-s: 59;
	--latte-rosewater-l: 67;
	--latte-rosewater: hsl(var(--latte-rosewater-h), calc(var(--latte-rosewater-s) * 1%), calc((var(--latte-rosewater-l) + 0) * 1%));
	--latte-rosewater-light: hsl(var(--latte-rosewater-h), calc(var(--latte-rosewater-s) * 1%), calc((var(--latte-rosewater-l) + var(--latte-lighter-by)) * 1%));
	--latte-rosewater-dark: hsl(var(--latte-rosewater-h), calc(var(--latte-rosewater-s) * 1%), calc((var(--latte-rosewater-l) - var(--latte-darker-by)) * 1%));

	--latte-flamingo-h: 0;
	--latte-flamingo-s: 60;
	--latte-flamingo-l: 67;
	--latte-flamingo: hsl(var(--latte-flamingo-h), calc(var(--latte-flamingo-s) * 1%), calc((var(--latte-flamingo-l) + 0) * 1%));
	--latte-flamingo-light: hsl(var(--latte-flamingo-h), calc(var(--latte-flamingo-s) * 1%), calc((var(--latte-flamingo-l) + var(--latte-lighter-by)) * 1%));
	--latte-flamingo-dark: hsl(var(--latte-flamingo-h), calc(var(--latte-flamingo-s) * 1%), calc((var(--latte-flamingo-l) - var(--latte-darker-by)) * 1%));

	--latte-pink-h: 316;
	--latte-pink-s: 73;
	--latte-pink-l: 69;
	--latte-pink: hsl(var(--latte-pink-h), calc(var(--latte-pink-s) * 1%), calc((var(--latte-pink-l) + 0) * 1%));
	--latte-pink-light: hsl(var(--latte-pink-h), calc(var(--latte-pink-s) * 1%), calc((var(--latte-pink-l) + var(--latte-lighter-by)) * 1%));
	--latte-pink-dark: hsl(var(--latte-pink-h), calc(var(--latte-pink-s) * 1%), calc((var(--latte-pink-l) - var(--latte-darker-by)) * 1%));

	--latte-mauve-h: 266;
	--latte-mauve-s: 85;
	--latte-mauve-l: 58;
	--latte-mauve: hsl(var(--latte-mauve-h), calc(var(--latte-mauve-s) * 1%), calc((var(--latte-mauve-l) + 0) * 1%));
	--latte-mauve-light: hsl(var(--latte-mauve-h), calc(var(--latte-mauve-s) * 1%), calc((var(--latte-mauve-l) + var(--latte-lighter-by)) * 1%));
	--latte-mauve-dark: hsl(var(--latte-mauve-h), calc(var(--latte-mauve-s) * 1%), calc((var(--latte-mauve-l) - var(--latte-darker-by)) * 1%));

	--latte-red-h: 347;
	--latte-red-s: 87;
	--latte-red-l: 44;
	--latte-red: hsl(var(--latte-red-h), calc(var(--latte-red-s) * 1%), calc((var(--latte-red-l) + 0) * 1%));
	--latte-red-light: hsl(var(--latte-red-h), calc(var(--latte-red-s) * 1%), calc((var(--latte-red-l) + var(--latte-lighter-by)) * 1%));
	--latte-red-dark: hsl(var(--latte-red-h), calc(var(--latte-red-s) * 1%), calc((var(--latte-red-l) - var(--latte-darker-by)) * 1%));

	--latte-maroon-h: 355;
	--latte-maroon-s: 76;
	--latte-maroon-l: 59;
	--latte-maroon: hsl(var(--latte-maroon-h), calc(var(--latte-maroon-s) * 1%), calc((var(--latte-maroon-l) + 0) * 1%));
	--latte-maroon-light: hsl(var(--latte-maroon-h), calc(var(--latte-maroon-s) * 1%), calc((var(--latte-maroon-l) + var(--latte-lighter-by)) * 1%));
	--latte-maroon-dark: hsl(var(--latte-maroon-h), calc(var(--latte-maroon-s) * 1%), calc((var(--latte-maroon-l) - var(--latte-darker-by)) * 1%));

	--latte-peach-h: 22;
	--latte-peach-s: 99;
	--latte-peach-l: 52;
	--latte-peach: hsl(var(--latte-peach-h), calc(var(--latte-peach-s) * 1%), calc((var(--latte-peach-l) + 0) * 1%));
	--latte-peach-light: hsl(var(--latte-peach-h), calc(var(--latte-peach-s) * 1%), calc((var(--latte-peach-l) + var(--latte-lighter-by)) * 1%));
	--latte-peach-dark: hsl(var(--latte-peach-h), calc(var(--latte-peach-s) * 1%), calc((var(--latte-peach-l) - var(--latte-darker-by)) * 1%));

	--latte-yellow-h: 35;
	--latte-yellow-s: 77;
	--latte-yellow-l: 49;
	--latte-yellow: hsl(var(--latte-yellow-h), calc(var(--latte-yellow-s) * 1%), calc((var(--latte-yellow-l) + 0) * 1%));
	--latte-yellow-light: hsl(var(--latte-yellow-h), calc(var(--latte-yellow-s) * 1%), calc((var(--latte-yellow-l) + var(--latte-lighter-by)) * 1%));
	--latte-yellow-dark: hsl(var(--latte-yellow-h), calc(var(--latte-yellow-s) * 1%), calc((var(--latte-yellow-l) - var(--latte-darker-by)) * 1%));

	--latte-green-h: 109;
	--latte-green-s: 58;
	--latte-green-l: 40;
	--latte-green: hsl(var(--latte-green-h), calc(var(--latte-green-s) * 1%), calc((var(--latte-green-l) + 0) * 1%));
	--latte-green-light: hsl(var(--latte-green-h), calc(var(--latte-green-s) * 1%), calc((var(--latte-green-l) + var(--latte-lighter-by)) * 1%));
	--latte-green-dark: hsl(var(--latte-green-h), calc(var(--latte-green-s) * 1%), calc((var(--latte-green-l) - var(--latte-darker-by)) * 1%));

	--latte-teal-h: 183;
	--latte-teal-s: 74;
	--latte-teal-l: 35;
	--latte-teal: hsl(var(--latte-teal-h), calc(var(--latte-teal-s) * 1%), calc((var(--latte-teal-l) + 0) * 1%));
	--latte-teal-light: hsl(var(--latte-teal-h), calc(var(--latte-teal-s) * 1%), calc((var(--latte-teal-l) + var(--latte-lighter-by)) * 1%));
	--latte-teal-dark: hsl(var(--latte-teal-h), calc(var(--latte-teal-s) * 1%), calc((var(--latte-teal-l) - var(--latte-darker-by)) * 1%));

	--latte-sky-h: 197;
	--latte-sky-s: 97;
	--latte-sky-l: 46;
	--latte-sky: hsl(var(--latte-sky-h), calc(var(--latte-sky-s) * 1%), calc((var(--latte-sky-l) + 0) * 1%));
	--latte-sky-light: hsl(var(--latte-sky-h), calc(var(--latte-sky-s) * 1%), calc((var(--latte-sky-l) + var(--latte-lighter-by)) * 1%));
	--latte-sky-dark: hsl(var(--latte-sky-h), calc(var(--latte-sky-s) * 1%), calc((var(--latte-sky-l) - var(--latte-darker-by)) * 1%));

	--latte-sapphire-h: 189;
	--latte-sapphire-s: 70;
	--latte-sapphire-l: 42;
	--latte-sapphire: hsl(var(--latte-sapphire-h), calc(var(--latte-sapphire-s) * 1%), calc((var(--latte-sapphire-l) + 0) * 1%));
	--latte-sapphire-light: hsl(var(--latte-sapphire-h), calc(var(--latte-sapphire-s) * 1%), calc((var(--latte-sapphire-l) + var(--latte-lighter-by)) * 1%));
	--latte-sapphire-dark: hsl(var(--latte-sapphire-h), calc(var(--latte-sapphire-s) * 1%), calc((var(--latte-sapphire-l) - var(--latte-darker-by)) * 1%));

	--latte-blue-h: 220;
	--latte-blue-s: 91;
	--latte-blue-l: 54;
	--latte-blue: hsl(var(--latte-blue-h), calc(var(--latte-blue-s) * 1%), calc((var(--latte-blue-l) + 0) * 1%));
	--latte-blue-light: hsl(var(--latte-blue-h), calc(var(--latte-blue-s) * 1%), calc((var(--latte-blue-l) + var(--latte-lighter-by)) * 1%));
	--latte-blue-dark: hsl(var(--latte-blue-h), calc(var(--latte-blue-s) * 1%), calc((var(--latte-blue-l) - var(--latte-darker-by)) * 1%));

	--latte-lavender-h: 231;
	--latte-lavender-s: 97;
	--latte-lavender-l: 72;
	--latte-lavender: hsl(var(--latte-lavender-h), calc(var(--latte-lavender-s) * 1%), calc((var(--latte-lavender-l) + 0) * 1%));
	--latte-lavender-light: hsl(var(--latte-lavender-h), calc(var(--latte-lavender-s) * 1%), calc((var(--latte-lavender-l) + var(--latte-lighter-by)) * 1%));
	--latte-lavender-dark: hsl(var(--latte-lavender-h), calc(var(--latte-lavender-s) * 1%), calc((var(--latte-lavender-l) - var(--latte-darker-by)) * 1%));

	--latte-text-h: 234;
	--latte-text-s: 16;
	--latte-text-l: 35;
	--latte-text: hsl(var(--latte-text-h), calc(var(--latte-text-s) * 1%), calc((var(--latte-text-l) + 0) * 1%));
	--latte-text-light: hsl(var(--latte-text-h), calc(var(--latte-text-s) * 1%), calc((var(--latte-text-l) + var(--latte-lighter-by)) * 1%));
	--latte-text-dark: hsl(var(--latte-text-h), calc(var(--latte-text-s) * 1%), calc((var(--latte-text-l) - var(--latte-darker-by)) * 1%));

	--latte-subtext1-h: 233;
	--latte-subtext1-s: 13;
	--latte-subtext1-l: 41;
	--latte-subtext1: hsl(var(--latte-subtext1-h), calc(var(--latte-subtext1-s) * 1%), calc((var(--latte-subtext1-l) + 0) * 1%));
	--latte-subtext1-light: hsl(var(--latte-subtext1-h), calc(var(--latte-subtext1-s) * 1%), calc((var(--latte-subtext1-l) + var(--latte-lighter-by)) * 1%));
	--latte-subtext1-dark: hsl(var(--latte-subtext1-h), calc(var(--latte-subtext1-s) * 1%), calc((var(--latte-subtext1-l) - var(--latte-darker-by)) * 1%));

	--latte-subtext0-h: 233;
	--latte-subtext0-s: 10;
	--latte-subtext0-l: 47;
	--latte-subtext0: hsl(var(--latte-subtext0-h), calc(var(--latte-subtext0-s) * 1%), calc((var(--latte-subtext0-l) + 0) * 1%));
	--latte-subtext0-light: hsl(var(--latte-subtext0-h), calc(var(--latte-subtext0-s) * 1%), calc((var(--latte-subtext0-l) + var(--latte-lighter-by)) * 1%));
	--latte-subtext0-dark: hsl(var(--latte-subtext0-h), calc(var(--latte-subtext0-s) * 1%), calc((var(--latte-subtext0-l) - var(--latte-darker-by)) * 1%));

	--latte-overlay2-h: 232;
	--latte-overlay2-s: 10;
	--latte-overlay2-l: 53;
	--latte-overlay2: hsl(var(--latte-overlay2-h), calc(var(--latte-overlay2-s) * 1%), calc((var(--latte-overlay2-l) + 0) * 1%));
	--latte-overlay2-light: hsl(var(--latte-overlay2-h), calc(var(--latte-overlay2-s) * 1%), calc((var(--latte-overlay2-l) + var(--latte-lighter-by)) * 1%));
	--latte-overlay2-dark: hsl(var(--latte-overlay2-h), calc(var(--latte-overlay2-s) * 1%), calc((var(--latte-overlay2-l) - var(--latte-darker-by)) * 1%));

	--latte-overlay1-h: 231;
	--latte-overlay1-s: 10;
	--latte-overlay1-l: 59;
	--latte-overlay1: hsl(var(--latte-overlay1-h), calc(var(--latte-overlay1-s) * 1%), calc((var(--latte-overlay1-l) + 0) * 1%));
	--latte-overlay1-light: hsl(var(--latte-overlay1-h), calc(var(--latte-overlay1-s) * 1%), calc((var(--latte-overlay1-l) + var(--latte-lighter-by)) * 1%));
	--latte-overlay1-dark: hsl(var(--latte-overlay1-h), calc(var(--latte-overlay1-s) * 1%), calc((var(--latte-overlay1-l) - var(--latte-darker-by)) * 1%));

	--latte-overlay0-h: 228;
	--latte-overlay0-s: 11;
	--latte-overlay0-l: 65;
	--latte-overlay0: hsl(var(--latte-overlay0-h), calc(var(--latte-overlay0-s) * 1%), calc((var(--latte-overlay0-l) + 0) * 1%));
	--latte-overlay0-light: hsl(var(--latte-overlay0-h), calc(var(--latte-overlay0-s) * 1%), calc((var(--latte-overlay0-l) + var(--latte-lighter-by)) * 1%));
	--latte-overlay0-dark: hsl(var(--latte-overlay0-h), calc(var(--latte-overlay0-s) * 1%), calc((var(--latte-overlay0-l) - var(--latte-darker-by)) * 1%));

	--latte-surface2-h: 227;
	--latte-surface2-s: 12;
	--latte-surface2-l: 71;
	--latte-surface2: hsl(var(--latte-surface2-h), calc(var(--latte-surface2-s) * 1%), calc((var(--latte-surface2-l) + 0) * 1%));
	--latte-surface2-light: hsl(var(--latte-surface2-h), calc(var(--latte-surface2-s) * 1%), calc((var(--latte-surface2-l) + var(--latte-lighter-by)) * 1%));
	--latte-surface2-dark: hsl(var(--latte-surface2-h), calc(var(--latte-surface2-s) * 1%), calc((var(--latte-surface2-l) - var(--latte-darker-by)) * 1%));

	--latte-surface1-h: 225;
	--latte-surface1-s: 14;
	--latte-surface1-l: 77;
	--latte-surface1: hsl(var(--latte-surface1-h), calc(var(--latte-surface1-s) * 1%), calc((var(--latte-surface1-l) + 0) * 1%));
	--latte-surface1-light: hsl(var(--latte-surface1-h), calc(var(--latte-surface1-s) * 1%), calc((var(--latte-surface1-l) + var(--latte-lighter-by)) * 1%));
	--latte-surface1-dark: hsl(var(--latte-surface1-h), calc(var(--latte-surface1-s) * 1%), calc((var(--latte-surface1-l) - var(--latte-darker-by)) * 1%));

	--latte-surface0-h: 223;
	--latte-surface0-s: 16;
	--latte-surface0-l: 83;
	--latte-surface0: hsl(var(--latte-surface0-h), calc(var(--latte-surface0-s) * 1%), calc((var(--latte-surface0-l) + 0) * 1%));
	--latte-surface0-light: hsl(var(--latte-surface0-h), calc(var(--latte-surface0-s) * 1%), calc((var(--latte-surface0-l) + var(--latte-lighter-by)) * 1%));
	--latte-surface0-dark: hsl(var(--latte-surface0-h), calc(var(--latte-surface0-s) * 1%), calc((var(--latte-surface0-l) - var(--latte-darker-by)) * 1%));

	--latte-base-h: 220;
	--latte-base-s: 23;
	--latte-base-l: 95;
	--latte-base: hsl(var(--latte-base-h), calc(var(--latte-base-s) * 1%), calc((var(--latte-base-l) + 0) * 1%));
	--latte-base-light: hsl(var(--latte-base-h), calc(var(--latte-base-s) * 1%), calc((var(--latte-base-l) + var(--latte-lighter-by)) * 1%));
	--latte-base-dark: hsl(var(--latte-base-h), calc(var(--latte-base-s) * 1%), calc((var(--latte-base-l) - var(--latte-darker-by)) * 1%));

	--latte-mantle-h: 220;
	--latte-mantle-s: 22;
	--latte-mantle-l: 92;
	--latte-mantle: hsl(var(--latte-mantle-h), calc(var(--latte-mantle-s) * 1%), calc((var(--latte-mantle-l) + 0) * 1%));
	--latte-mantle-light: hsl(var(--latte-mantle-h), calc(var(--latte-mantle-s) * 1%), calc((var(--latte-mantle-l) + var(--latte-lighter-by)) * 1%));
	--latte-mantle-dark: hsl(var(--latte-mantle-h), calc(var(--latte-mantle-s) * 1%), calc((var(--latte-mantle-l) - var(--latte-darker-by)) * 1%));

	--latte-crust-h: 220;
	--latte-crust-s: 21;
	--latte-crust-l: 89;
	--latte-crust: hsl(var(--latte-crust-h), calc(var(--latte-crust-s) * 1%), calc((var(--latte-crust-l) + 0) * 1%));
	--latte-crust-light: hsl(var(--latte-crust-h), calc(var(--latte-crust-s) * 1%), calc((var(--latte-crust-l) + var(--latte-lighter-by)) * 1%));
	--latte-crust-dark: hsl(var(--latte-crust-h), calc(var(--latte-crust-s) * 1%), calc((var(--latte-crust-l) - var(--latte-darker-by)) * 1%));



	--frappe-rosewater-h: 10;
	--frappe-rosewater-s: 57;
	--frappe-rosewater-l: 88;
	--frappe-rosewater: hsl(var(--frappe-rosewater-h), calc(var(--frappe-rosewater-s) * 1%), calc((var(--frappe-rosewater-l) + 0) * 1%));
	--frappe-rosewater-light: hsl(var(--frappe-rosewater-h), calc(var(--frappe-rosewater-s) * 1%), calc((var(--frappe-rosewater-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-rosewater-dark: hsl(var(--frappe-rosewater-h), calc(var(--frappe-rosewater-s) * 1%), calc((var(--frappe-rosewater-l) - var(--frappe-darker-by)) * 1%));

	--frappe-flamingo-h: 0;
	--frappe-flamingo-s: 59;
	--frappe-flamingo-l: 84;
	--frappe-flamingo: hsl(var(--frappe-flamingo-h), calc(var(--frappe-flamingo-s) * 1%), calc((var(--frappe-flamingo-l) + 0) * 1%));
	--frappe-flamingo-light: hsl(var(--frappe-flamingo-h), calc(var(--frappe-flamingo-s) * 1%), calc((var(--frappe-flamingo-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-flamingo-dark: hsl(var(--frappe-flamingo-h), calc(var(--frappe-flamingo-s) * 1%), calc((var(--frappe-flamingo-l) - var(--frappe-darker-by)) * 1%));

	--frappe-pink-h: 316;
	--frappe-pink-s: 73;
	--frappe-pink-l: 84;
	--frappe-pink: hsl(var(--frappe-pink-h), calc(var(--frappe-pink-s) * 1%), calc((var(--frappe-pink-l) + 0) * 1%));
	--frappe-pink-light: hsl(var(--frappe-pink-h), calc(var(--frappe-pink-s) * 1%), calc((var(--frappe-pink-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-pink-dark: hsl(var(--frappe-pink-h), calc(var(--frappe-pink-s) * 1%), calc((var(--frappe-pink-l) - var(--frappe-darker-by)) * 1%));

	--frappe-mauve-h: 277;
	--frappe-mauve-s: 59;
	--frappe-mauve-l: 76;
	--frappe-mauve: hsl(var(--frappe-mauve-h), calc(var(--frappe-mauve-s) * 1%), calc((var(--frappe-mauve-l) + 0) * 1%));
	--frappe-mauve-light: hsl(var(--frappe-mauve-h), calc(var(--frappe-mauve-s) * 1%), calc((var(--frappe-mauve-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-mauve-dark: hsl(var(--frappe-mauve-h), calc(var(--frappe-mauve-s) * 1%), calc((var(--frappe-mauve-l) - var(--frappe-darker-by)) * 1%));

	--frappe-red-h: 359;
	--frappe-red-s: 68;
	--frappe-red-l: 71;
	--frappe-red: hsl(var(--frappe-red-h), calc(var(--frappe-red-s) * 1%), calc((var(--frappe-red-l) + 0) * 1%));
	--frappe-red-light: hsl(var(--frappe-red-h), calc(var(--frappe-red-s) * 1%), calc((var(--frappe-red-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-red-dark: hsl(var(--frappe-red-h), calc(var(--frappe-red-s) * 1%), calc((var(--frappe-red-l) - var(--frappe-darker-by)) * 1%));

	--frappe-maroon-h: 358;
	--frappe-maroon-s: 66;
	--frappe-maroon-l: 76;
	--frappe-maroon: hsl(var(--frappe-maroon-h), calc(var(--frappe-maroon-s) * 1%), calc((var(--frappe-maroon-l) + 0) * 1%));
	--frappe-maroon-light: hsl(var(--frappe-maroon-h), calc(var(--frappe-maroon-s) * 1%), calc((var(--frappe-maroon-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-maroon-dark: hsl(var(--frappe-maroon-h), calc(var(--frappe-maroon-s) * 1%), calc((var(--frappe-maroon-l) - var(--frappe-darker-by)) * 1%));

	--frappe-peach-h: 20;
	--frappe-peach-s: 79;
	--frappe-peach-l: 70;
	--frappe-peach: hsl(var(--frappe-peach-h), calc(var(--frappe-peach-s) * 1%), calc((var(--frappe-peach-l) + 0) * 1%));
	--frappe-peach-light: hsl(var(--frappe-peach-h), calc(var(--frappe-peach-s) * 1%), calc((var(--frappe-peach-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-peach-dark: hsl(var(--frappe-peach-h), calc(var(--frappe-peach-s) * 1%), calc((var(--frappe-peach-l) - var(--frappe-darker-by)) * 1%));

	--frappe-yellow-h: 40;
	--frappe-yellow-s: 62;
	--frappe-yellow-l: 73;
	--frappe-yellow: hsl(var(--frappe-yellow-h), calc(var(--frappe-yellow-s) * 1%), calc((var(--frappe-yellow-l) + 0) * 1%));
	--frappe-yellow-light: hsl(var(--frappe-yellow-h), calc(var(--frappe-yellow-s) * 1%), calc((var(--frappe-yellow-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-yellow-dark: hsl(var(--frappe-yellow-h), calc(var(--frappe-yellow-s) * 1%), calc((var(--frappe-yellow-l) - var(--frappe-darker-by)) * 1%));

	--frappe-green-h: 96;
	--frappe-green-s: 44;
	--frappe-green-l: 68;
	--frappe-green: hsl(var(--frappe-green-h), calc(var(--frappe-green-s) * 1%), calc((var(--frappe-green-l) + 0) * 1%));
	--frappe-green-light: hsl(var(--frappe-green-h), calc(var(--frappe-green-s) * 1%), calc((var(--frappe-green-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-green-dark: hsl(var(--frappe-green-h), calc(var(--frappe-green-s) * 1%), calc((var(--frappe-green-l) - var(--frappe-darker-by)) * 1%));

	--frappe-teal-h: 172;
	--frappe-teal-s: 39;
	--frappe-teal-l: 65;
	--frappe-teal: hsl(var(--frappe-teal-h), calc(var(--frappe-teal-s) * 1%), calc((var(--frappe-teal-l) + 0) * 1%));
	--frappe-teal-light: hsl(var(--frappe-teal-h), calc(var(--frappe-teal-s) * 1%), calc((var(--frappe-teal-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-teal-dark: hsl(var(--frappe-teal-h), calc(var(--frappe-teal-s) * 1%), calc((var(--frappe-teal-l) - var(--frappe-darker-by)) * 1%));

	--frappe-sky-h: 189;
	--frappe-sky-s: 48;
	--frappe-sky-l: 73;
	--frappe-sky: hsl(var(--frappe-sky-h), calc(var(--frappe-sky-s) * 1%), calc((var(--frappe-sky-l) + 0) * 1%));
	--frappe-sky-light: hsl(var(--frappe-sky-h), calc(var(--frappe-sky-s) * 1%), calc((var(--frappe-sky-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-sky-dark: hsl(var(--frappe-sky-h), calc(var(--frappe-sky-s) * 1%), calc((var(--frappe-sky-l) - var(--frappe-darker-by)) * 1%));

	--frappe-sapphire-h: 199;
	--frappe-sapphire-s: 55;
	--frappe-sapphire-l: 69;
	--frappe-sapphire: hsl(var(--frappe-sapphire-h), calc(var(--frappe-sapphire-s) * 1%), calc((var(--frappe-sapphire-l) + 0) * 1%));
	--frappe-sapphire-light: hsl(var(--frappe-sapphire-h), calc(var(--frappe-sapphire-s) * 1%), calc((var(--frappe-sapphire-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-sapphire-dark: hsl(var(--frappe-sapphire-h), calc(var(--frappe-sapphire-s) * 1%), calc((var(--frappe-sapphire-l) - var(--frappe-darker-by)) * 1%));

	--frappe-blue-h: 222;
	--frappe-blue-s: 74;
	--frappe-blue-l: 74;
	--frappe-blue: hsl(var(--frappe-blue-h), calc(var(--frappe-blue-s) * 1%), calc((var(--frappe-blue-l) + 0) * 1%));
	--frappe-blue-light: hsl(var(--frappe-blue-h), calc(var(--frappe-blue-s) * 1%), calc((var(--frappe-blue-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-blue-dark: hsl(var(--frappe-blue-h), calc(var(--frappe-blue-s) * 1%), calc((var(--frappe-blue-l) - var(--frappe-darker-by)) * 1%));

	--frappe-lavender-h: 239;
	--frappe-lavender-s: 66;
	--frappe-lavender-l: 84;
	--frappe-lavender: hsl(var(--frappe-lavender-h), calc(var(--frappe-lavender-s) * 1%), calc((var(--frappe-lavender-l) + 0) * 1%));
	--frappe-lavender-light: hsl(var(--frappe-lavender-h), calc(var(--frappe-lavender-s) * 1%), calc((var(--frappe-lavender-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-lavender-dark: hsl(var(--frappe-lavender-h), calc(var(--frappe-lavender-s) * 1%), calc((var(--frappe-lavender-l) - var(--frappe-darker-by)) * 1%));

	--frappe-text-h: 227;
	--frappe-text-s: 70;
	--frappe-text-l: 87;
	--frappe-text: hsl(var(--frappe-text-h), calc(var(--frappe-text-s) * 1%), calc((var(--frappe-text-l) + 0) * 1%));
	--frappe-text-light: hsl(var(--frappe-text-h), calc(var(--frappe-text-s) * 1%), calc((var(--frappe-text-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-text-dark: hsl(var(--frappe-text-h), calc(var(--frappe-text-s) * 1%), calc((var(--frappe-text-l) - var(--frappe-darker-by)) * 1%));

	--frappe-subtext1-h: 227;
	--frappe-subtext1-s: 44;
	--frappe-subtext1-l: 80;
	--frappe-subtext1: hsl(var(--frappe-subtext1-h), calc(var(--frappe-subtext1-s) * 1%), calc((var(--frappe-subtext1-l) + 0) * 1%));
	--frappe-subtext1-light: hsl(var(--frappe-subtext1-h), calc(var(--frappe-subtext1-s) * 1%), calc((var(--frappe-subtext1-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-subtext1-dark: hsl(var(--frappe-subtext1-h), calc(var(--frappe-subtext1-s) * 1%), calc((var(--frappe-subtext1-l) - var(--frappe-darker-by)) * 1%));

	--frappe-subtext0-h: 228;
	--frappe-subtext0-s: 29;
	--frappe-subtext0-l: 73;
	--frappe-subtext0: hsl(var(--frappe-subtext0-h), calc(var(--frappe-subtext0-s) * 1%), calc((var(--frappe-subtext0-l) + 0) * 1%));
	--frappe-subtext0-light: hsl(var(--frappe-subtext0-h), calc(var(--frappe-subtext0-s) * 1%), calc((var(--frappe-subtext0-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-subtext0-dark: hsl(var(--frappe-subtext0-h), calc(var(--frappe-subtext0-s) * 1%), calc((var(--frappe-subtext0-l) - var(--frappe-darker-by)) * 1%));

	--frappe-overlay2-h: 228;
	--frappe-overlay2-s: 22;
	--frappe-overlay2-l: 66;
	--frappe-overlay2: hsl(var(--frappe-overlay2-h), calc(var(--frappe-overlay2-s) * 1%), calc((var(--frappe-overlay2-l) + 0) * 1%));
	--frappe-overlay2-light: hsl(var(--frappe-overlay2-h), calc(var(--frappe-overlay2-s) * 1%), calc((var(--frappe-overlay2-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-overlay2-dark: hsl(var(--frappe-overlay2-h), calc(var(--frappe-overlay2-s) * 1%), calc((var(--frappe-overlay2-l) - var(--frappe-darker-by)) * 1%));

	--frappe-overlay1-h: 227;
	--frappe-overlay1-s: 17;
	--frappe-overlay1-l: 58;
	--frappe-overlay1: hsl(var(--frappe-overlay1-h), calc(var(--frappe-overlay1-s) * 1%), calc((var(--frappe-overlay1-l) + 0) * 1%));
	--frappe-overlay1-light: hsl(var(--frappe-overlay1-h), calc(var(--frappe-overlay1-s) * 1%), calc((var(--frappe-overlay1-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-overlay1-dark: hsl(var(--frappe-overlay1-h), calc(var(--frappe-overlay1-s) * 1%), calc((var(--frappe-overlay1-l) - var(--frappe-darker-by)) * 1%));

	--frappe-overlay0-h: 229;
	--frappe-overlay0-s: 13;
	--frappe-overlay0-l: 52;
	--frappe-overlay0: hsl(var(--frappe-overlay0-h), calc(var(--frappe-overlay0-s) * 1%), calc((var(--frappe-overlay0-l) + 0) * 1%));
	--frappe-overlay0-light: hsl(var(--frappe-overlay0-h), calc(var(--frappe-overlay0-s) * 1%), calc((var(--frappe-overlay0-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-overlay0-dark: hsl(var(--frappe-overlay0-h), calc(var(--frappe-overlay0-s) * 1%), calc((var(--frappe-overlay0-l) - var(--frappe-darker-by)) * 1%));

	--frappe-surface2-h: 228;
	--frappe-surface2-s: 13;
	--frappe-surface2-l: 44;
	--frappe-surface2: hsl(var(--frappe-surface2-h), calc(var(--frappe-surface2-s) * 1%), calc((var(--frappe-surface2-l) + 0) * 1%));
	--frappe-surface2-light: hsl(var(--frappe-surface2-h), calc(var(--frappe-surface2-s) * 1%), calc((var(--frappe-surface2-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-surface2-dark: hsl(var(--frappe-surface2-h), calc(var(--frappe-surface2-s) * 1%), calc((var(--frappe-surface2-l) - var(--frappe-darker-by)) * 1%));

	--frappe-surface1-h: 227;
	--frappe-surface1-s: 15;
	--frappe-surface1-l: 37;
	--frappe-surface1: hsl(var(--frappe-surface1-h), calc(var(--frappe-surface1-s) * 1%), calc((var(--frappe-surface1-l) + 0) * 1%));
	--frappe-surface1-light: hsl(var(--frappe-surface1-h), calc(var(--frappe-surface1-s) * 1%), calc((var(--frappe-surface1-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-surface1-dark: hsl(var(--frappe-surface1-h), calc(var(--frappe-surface1-s) * 1%), calc((var(--frappe-surface1-l) - var(--frappe-darker-by)) * 1%));

	--frappe-surface0-h: 230;
	--frappe-surface0-s: 16;
	--frappe-surface0-l: 30;
	--frappe-surface0: hsl(var(--frappe-surface0-h), calc(var(--frappe-surface0-s) * 1%), calc((var(--frappe-surface0-l) + 0) * 1%));
	--frappe-surface0-light: hsl(var(--frappe-surface0-h), calc(var(--frappe-surface0-s) * 1%), calc((var(--frappe-surface0-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-surface0-dark: hsl(var(--frappe-surface0-h), calc(var(--frappe-surface0-s) * 1%), calc((var(--frappe-surface0-l) - var(--frappe-darker-by)) * 1%));

	--frappe-base-h: 229;
	--frappe-base-s: 19;
	--frappe-base-l: 23;
	--frappe-base: hsl(var(--frappe-base-h), calc(var(--frappe-base-s) * 1%), calc((var(--frappe-base-l) + 0) * 1%));
	--frappe-base-light: hsl(var(--frappe-base-h), calc(var(--frappe-base-s) * 1%), calc((var(--frappe-base-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-base-dark: hsl(var(--frappe-base-h), calc(var(--frappe-base-s) * 1%), calc((var(--frappe-base-l) - var(--frappe-darker-by)) * 1%));

	--frappe-mantle-h: 231;
	--frappe-mantle-s: 19;
	--frappe-mantle-l: 20;
	--frappe-mantle: hsl(var(--frappe-mantle-h), calc(var(--frappe-mantle-s) * 1%), calc((var(--frappe-mantle-l) + 0) * 1%));
	--frappe-mantle-light: hsl(var(--frappe-mantle-h), calc(var(--frappe-mantle-s) * 1%), calc((var(--frappe-mantle-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-mantle-dark: hsl(var(--frappe-mantle-h), calc(var(--frappe-mantle-s) * 1%), calc((var(--frappe-mantle-l) - var(--frappe-darker-by)) * 1%));

	--frappe-crust-h: 229;
	--frappe-crust-s: 20;
	--frappe-crust-l: 17;
	--frappe-crust: hsl(var(--frappe-crust-h), calc(var(--frappe-crust-s) * 1%), calc((var(--frappe-crust-l) + 0) * 1%));
	--frappe-crust-light: hsl(var(--frappe-crust-h), calc(var(--frappe-crust-s) * 1%), calc((var(--frappe-crust-l) + var(--frappe-lighter-by)) * 1%));
	--frappe-crust-dark: hsl(var(--frappe-crust-h), calc(var(--frappe-crust-s) * 1%), calc((var(--frappe-crust-l) - var(--frappe-darker-by)) * 1%));



	--macchiato-rosewater-h: 10;
	--macchiato-rosewater-s: 58;
	--macchiato-rosewater-l: 90;
	--macchiato-rosewater: hsl(var(--macchiato-rosewater-h), calc(var(--macchiato-rosewater-s) * 1%), calc((var(--macchiato-rosewater-l) + 0) * 1%));
	--macchiato-rosewater-light: hsl(var(--macchiato-rosewater-h), calc(var(--macchiato-rosewater-s) * 1%), calc((var(--macchiato-rosewater-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-rosewater-dark: hsl(var(--macchiato-rosewater-h), calc(var(--macchiato-rosewater-s) * 1%), calc((var(--macchiato-rosewater-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-flamingo-h: 0;
	--macchiato-flamingo-s: 58;
	--macchiato-flamingo-l: 86;
	--macchiato-flamingo: hsl(var(--macchiato-flamingo-h), calc(var(--macchiato-flamingo-s) * 1%), calc((var(--macchiato-flamingo-l) + 0) * 1%));
	--macchiato-flamingo-light: hsl(var(--macchiato-flamingo-h), calc(var(--macchiato-flamingo-s) * 1%), calc((var(--macchiato-flamingo-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-flamingo-dark: hsl(var(--macchiato-flamingo-h), calc(var(--macchiato-flamingo-s) * 1%), calc((var(--macchiato-flamingo-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-pink-h: 316;
	--macchiato-pink-s: 74;
	--macchiato-pink-l: 85;
	--macchiato-pink: hsl(var(--macchiato-pink-h), calc(var(--macchiato-pink-s) * 1%), calc((var(--macchiato-pink-l) + 0) * 1%));
	--macchiato-pink-light: hsl(var(--macchiato-pink-h), calc(var(--macchiato-pink-s) * 1%), calc((var(--macchiato-pink-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-pink-dark: hsl(var(--macchiato-pink-h), calc(var(--macchiato-pink-s) * 1%), calc((var(--macchiato-pink-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-mauve-h: 267;
	--macchiato-mauve-s: 83;
	--macchiato-mauve-l: 80;
	--macchiato-mauve: hsl(var(--macchiato-mauve-h), calc(var(--macchiato-mauve-s) * 1%), calc((var(--macchiato-mauve-l) + 0) * 1%));
	--macchiato-mauve-light: hsl(var(--macchiato-mauve-h), calc(var(--macchiato-mauve-s) * 1%), calc((var(--macchiato-mauve-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-mauve-dark: hsl(var(--macchiato-mauve-h), calc(var(--macchiato-mauve-s) * 1%), calc((var(--macchiato-mauve-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-red-h: 351;
	--macchiato-red-s: 74;
	--macchiato-red-l: 73;
	--macchiato-red: hsl(var(--macchiato-red-h), calc(var(--macchiato-red-s) * 1%), calc((var(--macchiato-red-l) + 0) * 1%));
	--macchiato-red-light: hsl(var(--macchiato-red-h), calc(var(--macchiato-red-s) * 1%), calc((var(--macchiato-red-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-red-dark: hsl(var(--macchiato-red-h), calc(var(--macchiato-red-s) * 1%), calc((var(--macchiato-red-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-maroon-h: 355;
	--macchiato-maroon-s: 71;
	--macchiato-maroon-l: 77;
	--macchiato-maroon: hsl(var(--macchiato-maroon-h), calc(var(--macchiato-maroon-s) * 1%), calc((var(--macchiato-maroon-l) + 0) * 1%));
	--macchiato-maroon-light: hsl(var(--macchiato-maroon-h), calc(var(--macchiato-maroon-s) * 1%), calc((var(--macchiato-maroon-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-maroon-dark: hsl(var(--macchiato-maroon-h), calc(var(--macchiato-maroon-s) * 1%), calc((var(--macchiato-maroon-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-peach-h: 21;
	--macchiato-peach-s: 86;
	--macchiato-peach-l: 73;
	--macchiato-peach: hsl(var(--macchiato-peach-h), calc(var(--macchiato-peach-s) * 1%), calc((var(--macchiato-peach-l) + 0) * 1%));
	--macchiato-peach-light: hsl(var(--macchiato-peach-h), calc(var(--macchiato-peach-s) * 1%), calc((var(--macchiato-peach-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-peach-dark: hsl(var(--macchiato-peach-h), calc(var(--macchiato-peach-s) * 1%), calc((var(--macchiato-peach-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-yellow-h: 40;
	--macchiato-yellow-s: 70;
	--macchiato-yellow-l: 78;
	--macchiato-yellow: hsl(var(--macchiato-yellow-h), calc(var(--macchiato-yellow-s) * 1%), calc((var(--macchiato-yellow-l) + 0) * 1%));
	--macchiato-yellow-light: hsl(var(--macchiato-yellow-h), calc(var(--macchiato-yellow-s) * 1%), calc((var(--macchiato-yellow-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-yellow-dark: hsl(var(--macchiato-yellow-h), calc(var(--macchiato-yellow-s) * 1%), calc((var(--macchiato-yellow-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-green-h: 105;
	--macchiato-green-s: 48;
	--macchiato-green-l: 72;
	--macchiato-green: hsl(var(--macchiato-green-h), calc(var(--macchiato-green-s) * 1%), calc((var(--macchiato-green-l) + 0) * 1%));
	--macchiato-green-light: hsl(var(--macchiato-green-h), calc(var(--macchiato-green-s) * 1%), calc((var(--macchiato-green-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-green-dark: hsl(var(--macchiato-green-h), calc(var(--macchiato-green-s) * 1%), calc((var(--macchiato-green-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-teal-h: 171;
	--macchiato-teal-s: 47;
	--macchiato-teal-l: 69;
	--macchiato-teal: hsl(var(--macchiato-teal-h), calc(var(--macchiato-teal-s) * 1%), calc((var(--macchiato-teal-l) + 0) * 1%));
	--macchiato-teal-light: hsl(var(--macchiato-teal-h), calc(var(--macchiato-teal-s) * 1%), calc((var(--macchiato-teal-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-teal-dark: hsl(var(--macchiato-teal-h), calc(var(--macchiato-teal-s) * 1%), calc((var(--macchiato-teal-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-sky-h: 189;
	--macchiato-sky-s: 59;
	--macchiato-sky-l: 73;
	--macchiato-sky: hsl(var(--macchiato-sky-h), calc(var(--macchiato-sky-s) * 1%), calc((var(--macchiato-sky-l) + 0) * 1%));
	--macchiato-sky-light: hsl(var(--macchiato-sky-h), calc(var(--macchiato-sky-s) * 1%), calc((var(--macchiato-sky-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-sky-dark: hsl(var(--macchiato-sky-h), calc(var(--macchiato-sky-s) * 1%), calc((var(--macchiato-sky-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-sapphire-h: 199;
	--macchiato-sapphire-s: 66;
	--macchiato-sapphire-l: 69;
	--macchiato-sapphire: hsl(var(--macchiato-sapphire-h), calc(var(--macchiato-sapphire-s) * 1%), calc((var(--macchiato-sapphire-l) + 0) * 1%));
	--macchiato-sapphire-light: hsl(var(--macchiato-sapphire-h), calc(var(--macchiato-sapphire-s) * 1%), calc((var(--macchiato-sapphire-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-sapphire-dark: hsl(var(--macchiato-sapphire-h), calc(var(--macchiato-sapphire-s) * 1%), calc((var(--macchiato-sapphire-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-blue-h: 220;
	--macchiato-blue-s: 83;
	--macchiato-blue-l: 75;
	--macchiato-blue: hsl(var(--macchiato-blue-h), calc(var(--macchiato-blue-s) * 1%), calc((var(--macchiato-blue-l) + 0) * 1%));
	--macchiato-blue-light: hsl(var(--macchiato-blue-h), calc(var(--macchiato-blue-s) * 1%), calc((var(--macchiato-blue-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-blue-dark: hsl(var(--macchiato-blue-h), calc(var(--macchiato-blue-s) * 1%), calc((var(--macchiato-blue-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-lavender-h: 234;
	--macchiato-lavender-s: 82;
	--macchiato-lavender-l: 85;
	--macchiato-lavender: hsl(var(--macchiato-lavender-h), calc(var(--macchiato-lavender-s) * 1%), calc((var(--macchiato-lavender-l) + 0) * 1%));
	--macchiato-lavender-light: hsl(var(--macchiato-lavender-h), calc(var(--macchiato-lavender-s) * 1%), calc((var(--macchiato-lavender-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-lavender-dark: hsl(var(--macchiato-lavender-h), calc(var(--macchiato-lavender-s) * 1%), calc((var(--macchiato-lavender-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-text-h: 227;
	--macchiato-text-s: 68;
	--macchiato-text-l: 88;
	--macchiato-text: hsl(var(--macchiato-text-h), calc(var(--macchiato-text-s) * 1%), calc((var(--macchiato-text-l) + 0) * 1%));
	--macchiato-text-light: hsl(var(--macchiato-text-h), calc(var(--macchiato-text-s) * 1%), calc((var(--macchiato-text-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-text-dark: hsl(var(--macchiato-text-h), calc(var(--macchiato-text-s) * 1%), calc((var(--macchiato-text-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-subtext1-h: 228;
	--macchiato-subtext1-s: 39;
	--macchiato-subtext1-l: 80;
	--macchiato-subtext1: hsl(var(--macchiato-subtext1-h), calc(var(--macchiato-subtext1-s) * 1%), calc((var(--macchiato-subtext1-l) + 0) * 1%));
	--macchiato-subtext1-light: hsl(var(--macchiato-subtext1-h), calc(var(--macchiato-subtext1-s) * 1%), calc((var(--macchiato-subtext1-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-subtext1-dark: hsl(var(--macchiato-subtext1-h), calc(var(--macchiato-subtext1-s) * 1%), calc((var(--macchiato-subtext1-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-subtext0-h: 227;
	--macchiato-subtext0-s: 27;
	--macchiato-subtext0-l: 72;
	--macchiato-subtext0: hsl(var(--macchiato-subtext0-h), calc(var(--macchiato-subtext0-s) * 1%), calc((var(--macchiato-subtext0-l) + 0) * 1%));
	--macchiato-subtext0-light: hsl(var(--macchiato-subtext0-h), calc(var(--macchiato-subtext0-s) * 1%), calc((var(--macchiato-subtext0-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-subtext0-dark: hsl(var(--macchiato-subtext0-h), calc(var(--macchiato-subtext0-s) * 1%), calc((var(--macchiato-subtext0-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-overlay2-h: 228;
	--macchiato-overlay2-s: 20;
	--macchiato-overlay2-l: 65;
	--macchiato-overlay2: hsl(var(--macchiato-overlay2-h), calc(var(--macchiato-overlay2-s) * 1%), calc((var(--macchiato-overlay2-l) + 0) * 1%));
	--macchiato-overlay2-light: hsl(var(--macchiato-overlay2-h), calc(var(--macchiato-overlay2-s) * 1%), calc((var(--macchiato-overlay2-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-overlay2-dark: hsl(var(--macchiato-overlay2-h), calc(var(--macchiato-overlay2-s) * 1%), calc((var(--macchiato-overlay2-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-overlay1-h: 228;
	--macchiato-overlay1-s: 15;
	--macchiato-overlay1-l: 57;
	--macchiato-overlay1: hsl(var(--macchiato-overlay1-h), calc(var(--macchiato-overlay1-s) * 1%), calc((var(--macchiato-overlay1-l) + 0) * 1%));
	--macchiato-overlay1-light: hsl(var(--macchiato-overlay1-h), calc(var(--macchiato-overlay1-s) * 1%), calc((var(--macchiato-overlay1-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-overlay1-dark: hsl(var(--macchiato-overlay1-h), calc(var(--macchiato-overlay1-s) * 1%), calc((var(--macchiato-overlay1-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-overlay0-h: 230;
	--macchiato-overlay0-s: 12;
	--macchiato-overlay0-l: 49;
	--macchiato-overlay0: hsl(var(--macchiato-overlay0-h), calc(var(--macchiato-overlay0-s) * 1%), calc((var(--macchiato-overlay0-l) + 0) * 1%));
	--macchiato-overlay0-light: hsl(var(--macchiato-overlay0-h), calc(var(--macchiato-overlay0-s) * 1%), calc((var(--macchiato-overlay0-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-overlay0-dark: hsl(var(--macchiato-overlay0-h), calc(var(--macchiato-overlay0-s) * 1%), calc((var(--macchiato-overlay0-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-surface2-h: 230;
	--macchiato-surface2-s: 14;
	--macchiato-surface2-l: 41;
	--macchiato-surface2: hsl(var(--macchiato-surface2-h), calc(var(--macchiato-surface2-s) * 1%), calc((var(--macchiato-surface2-l) + 0) * 1%));
	--macchiato-surface2-light: hsl(var(--macchiato-surface2-h), calc(var(--macchiato-surface2-s) * 1%), calc((var(--macchiato-surface2-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-surface2-dark: hsl(var(--macchiato-surface2-h), calc(var(--macchiato-surface2-s) * 1%), calc((var(--macchiato-surface2-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-surface1-h: 231;
	--macchiato-surface1-s: 16;
	--macchiato-surface1-l: 34;
	--macchiato-surface1: hsl(var(--macchiato-surface1-h), calc(var(--macchiato-surface1-s) * 1%), calc((var(--macchiato-surface1-l) + 0) * 1%));
	--macchiato-surface1-light: hsl(var(--macchiato-surface1-h), calc(var(--macchiato-surface1-s) * 1%), calc((var(--macchiato-surface1-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-surface1-dark: hsl(var(--macchiato-surface1-h), calc(var(--macchiato-surface1-s) * 1%), calc((var(--macchiato-surface1-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-surface0-h: 230;
	--macchiato-surface0-s: 19;
	--macchiato-surface0-l: 26;
	--macchiato-surface0: hsl(var(--macchiato-surface0-h), calc(var(--macchiato-surface0-s) * 1%), calc((var(--macchiato-surface0-l) + 0) * 1%));
	--macchiato-surface0-light: hsl(var(--macchiato-surface0-h), calc(var(--macchiato-surface0-s) * 1%), calc((var(--macchiato-surface0-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-surface0-dark: hsl(var(--macchiato-surface0-h), calc(var(--macchiato-surface0-s) * 1%), calc((var(--macchiato-surface0-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-base-h: 232;
	--macchiato-base-s: 23;
	--macchiato-base-l: 18;
	--macchiato-base: hsl(var(--macchiato-base-h), calc(var(--macchiato-base-s) * 1%), calc((var(--macchiato-base-l) + 0) * 1%));
	--macchiato-base-light: hsl(var(--macchiato-base-h), calc(var(--macchiato-base-s) * 1%), calc((var(--macchiato-base-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-base-dark: hsl(var(--macchiato-base-h), calc(var(--macchiato-base-s) * 1%), calc((var(--macchiato-base-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-mantle-h: 233;
	--macchiato-mantle-s: 23;
	--macchiato-mantle-l: 15;
	--macchiato-mantle: hsl(var(--macchiato-mantle-h), calc(var(--macchiato-mantle-s) * 1%), calc((var(--macchiato-mantle-l) + 0) * 1%));
	--macchiato-mantle-light: hsl(var(--macchiato-mantle-h), calc(var(--macchiato-mantle-s) * 1%), calc((var(--macchiato-mantle-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-mantle-dark: hsl(var(--macchiato-mantle-h), calc(var(--macchiato-mantle-s) * 1%), calc((var(--macchiato-mantle-l) - var(--macchiato-darker-by)) * 1%));

	--macchiato-crust-h: 236;
	--macchiato-crust-s: 23;
	--macchiato-crust-l: 12;
	--macchiato-crust: hsl(var(--macchiato-crust-h), calc(var(--macchiato-crust-s) * 1%), calc((var(--macchiato-crust-l) + 0) * 1%));
	--macchiato-crust-light: hsl(var(--macchiato-crust-h), calc(var(--macchiato-crust-s) * 1%), calc((var(--macchiato-crust-l) + var(--macchiato-lighter-by)) * 1%));
	--macchiato-crust-dark: hsl(var(--macchiato-crust-h), calc(var(--macchiato-crust-s) * 1%), calc((var(--macchiato-crust-l) - var(--macchiato-darker-by)) * 1%));



	--mocha-rosewater-h: 10;
	--mocha-rosewater-s: 56;
	--mocha-rosewater-l: 91;
	--mocha-rosewater: hsl(var(--mocha-rosewater-h), calc(var(--mocha-rosewater-s) * 1%), calc((var(--mocha-rosewater-l) + 0) * 1%));
	--mocha-rosewater-light: hsl(var(--mocha-rosewater-h), calc(var(--mocha-rosewater-s) * 1%), calc((var(--mocha-rosewater-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-rosewater-dark: hsl(var(--mocha-rosewater-h), calc(var(--mocha-rosewater-s) * 1%), calc((var(--mocha-rosewater-l) - var(--mocha-darker-by)) * 1%));

	--mocha-flamingo-h: 0;
	--mocha-flamingo-s: 59;
	--mocha-flamingo-l: 88;
	--mocha-flamingo: hsl(var(--mocha-flamingo-h), calc(var(--mocha-flamingo-s) * 1%), calc((var(--mocha-flamingo-l) + 0) * 1%));
	--mocha-flamingo-light: hsl(var(--mocha-flamingo-h), calc(var(--mocha-flamingo-s) * 1%), calc((var(--mocha-flamingo-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-flamingo-dark: hsl(var(--mocha-flamingo-h), calc(var(--mocha-flamingo-s) * 1%), calc((var(--mocha-flamingo-l) - var(--mocha-darker-by)) * 1%));

	--mocha-pink-h: 316;
	--mocha-pink-s: 72;
	--mocha-pink-l: 86;
	--mocha-pink: hsl(var(--mocha-pink-h), calc(var(--mocha-pink-s) * 1%), calc((var(--mocha-pink-l) + 0) * 1%));
	--mocha-pink-light: hsl(var(--mocha-pink-h), calc(var(--mocha-pink-s) * 1%), calc((var(--mocha-pink-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-pink-dark: hsl(var(--mocha-pink-h), calc(var(--mocha-pink-s) * 1%), calc((var(--mocha-pink-l) - var(--mocha-darker-by)) * 1%));

	--mocha-mauve-h: 267;
	--mocha-mauve-s: 84;
	--mocha-mauve-l: 81;
	--mocha-mauve: hsl(var(--mocha-mauve-h), calc(var(--mocha-mauve-s) * 1%), calc((var(--mocha-mauve-l) + 0) * 1%));
	--mocha-mauve-light: hsl(var(--mocha-mauve-h), calc(var(--mocha-mauve-s) * 1%), calc((var(--mocha-mauve-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-mauve-dark: hsl(var(--mocha-mauve-h), calc(var(--mocha-mauve-s) * 1%), calc((var(--mocha-mauve-l) - var(--mocha-darker-by)) * 1%));

	--mocha-red-h: 343;
	--mocha-red-s: 81;
	--mocha-red-l: 75;
	--mocha-red: hsl(var(--mocha-red-h), calc(var(--mocha-red-s) * 1%), calc((var(--mocha-red-l) + 0) * 1%));
	--mocha-red-light: hsl(var(--mocha-red-h), calc(var(--mocha-red-s) * 1%), calc((var(--mocha-red-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-red-dark: hsl(var(--mocha-red-h), calc(var(--mocha-red-s) * 1%), calc((var(--mocha-red-l) - var(--mocha-darker-by)) * 1%));

	--mocha-maroon-h: 350;
	--mocha-maroon-s: 65;
	--mocha-maroon-l: 77;
	--mocha-maroon: hsl(var(--mocha-maroon-h), calc(var(--mocha-maroon-s) * 1%), calc((var(--mocha-maroon-l) + 0) * 1%));
	--mocha-maroon-light: hsl(var(--mocha-maroon-h), calc(var(--mocha-maroon-s) * 1%), calc((var(--mocha-maroon-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-maroon-dark: hsl(var(--mocha-maroon-h), calc(var(--mocha-maroon-s) * 1%), calc((var(--mocha-maroon-l) - var(--mocha-darker-by)) * 1%));

	--mocha-peach-h: 23;
	--mocha-peach-s: 92;
	--mocha-peach-l: 75;
	--mocha-peach: hsl(var(--mocha-peach-h), calc(var(--mocha-peach-s) * 1%), calc((var(--mocha-peach-l) + 0) * 1%));
	--mocha-peach-light: hsl(var(--mocha-peach-h), calc(var(--mocha-peach-s) * 1%), calc((var(--mocha-peach-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-peach-dark: hsl(var(--mocha-peach-h), calc(var(--mocha-peach-s) * 1%), calc((var(--mocha-peach-l) - var(--mocha-darker-by)) * 1%));

	--mocha-yellow-h: 41;
	--mocha-yellow-s: 86;
	--mocha-yellow-l: 83;
	--mocha-yellow: hsl(var(--mocha-yellow-h), calc(var(--mocha-yellow-s) * 1%), calc((var(--mocha-yellow-l) + 0) * 1%));
	--mocha-yellow-light: hsl(var(--mocha-yellow-h), calc(var(--mocha-yellow-s) * 1%), calc((var(--mocha-yellow-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-yellow-dark: hsl(var(--mocha-yellow-h), calc(var(--mocha-yellow-s) * 1%), calc((var(--mocha-yellow-l) - var(--mocha-darker-by)) * 1%));

	--mocha-green-h: 115;
	--mocha-green-s: 54;
	--mocha-green-l: 76;
	--mocha-green: hsl(var(--mocha-green-h), calc(var(--mocha-green-s) * 1%), calc((var(--mocha-green-l) + 0) * 1%));
	--mocha-green-light: hsl(var(--mocha-green-h), calc(var(--mocha-green-s) * 1%), calc((var(--mocha-green-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-green-dark: hsl(var(--mocha-green-h), calc(var(--mocha-green-s) * 1%), calc((var(--mocha-green-l) - var(--mocha-darker-by)) * 1%));

	--mocha-teal-h: 170;
	--mocha-teal-s: 57;
	--mocha-teal-l: 73;
	--mocha-teal: hsl(var(--mocha-teal-h), calc(var(--mocha-teal-s) * 1%), calc((var(--mocha-teal-l) + 0) * 1%));
	--mocha-teal-light: hsl(var(--mocha-teal-h), calc(var(--mocha-teal-s) * 1%), calc((var(--mocha-teal-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-teal-dark: hsl(var(--mocha-teal-h), calc(var(--mocha-teal-s) * 1%), calc((var(--mocha-teal-l) - var(--mocha-darker-by)) * 1%));

	--mocha-sky-h: 189;
	--mocha-sky-s: 71;
	--mocha-sky-l: 73;
	--mocha-sky: hsl(var(--mocha-sky-h), calc(var(--mocha-sky-s) * 1%), calc((var(--mocha-sky-l) + 0) * 1%));
	--mocha-sky-light: hsl(var(--mocha-sky-h), calc(var(--mocha-sky-s) * 1%), calc((var(--mocha-sky-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-sky-dark: hsl(var(--mocha-sky-h), calc(var(--mocha-sky-s) * 1%), calc((var(--mocha-sky-l) - var(--mocha-darker-by)) * 1%));

	--mocha-sapphire-h: 199;
	--mocha-sapphire-s: 76;
	--mocha-sapphire-l: 69;
	--mocha-sapphire: hsl(var(--mocha-sapphire-h), calc(var(--mocha-sapphire-s) * 1%), calc((var(--mocha-sapphire-l) + 0) * 1%));
	--mocha-sapphire-light: hsl(var(--mocha-sapphire-h), calc(var(--mocha-sapphire-s) * 1%), calc((var(--mocha-sapphire-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-sapphire-dark: hsl(var(--mocha-sapphire-h), calc(var(--mocha-sapphire-s) * 1%), calc((var(--mocha-sapphire-l) - var(--mocha-darker-by)) * 1%));

	--mocha-blue-h: 217;
	--mocha-blue-s: 92;
	--mocha-blue-l: 76;
	--mocha-blue: hsl(var(--mocha-blue-h), calc(var(--mocha-blue-s) * 1%), calc((var(--mocha-blue-l) + 0) * 1%));
	--mocha-blue-light: hsl(var(--mocha-blue-h), calc(var(--mocha-blue-s) * 1%), calc((var(--mocha-blue-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-blue-dark: hsl(var(--mocha-blue-h), calc(var(--mocha-blue-s) * 1%), calc((var(--mocha-blue-l) - var(--mocha-darker-by)) * 1%));

	--mocha-lavender-h: 232;
	--mocha-lavender-s: 97;
	--mocha-lavender-l: 85;
	--mocha-lavender: hsl(var(--mocha-lavender-h), calc(var(--mocha-lavender-s) * 1%), calc((var(--mocha-lavender-l) + 0) * 1%));
	--mocha-lavender-light: hsl(var(--mocha-lavender-h), calc(var(--mocha-lavender-s) * 1%), calc((var(--mocha-lavender-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-lavender-dark: hsl(var(--mocha-lavender-h), calc(var(--mocha-lavender-s) * 1%), calc((var(--mocha-lavender-l) - var(--mocha-darker-by)) * 1%));

	--mocha-text-h: 226;
	--mocha-text-s: 64;
	--mocha-text-l: 88;
	--mocha-text: hsl(var(--mocha-text-h), calc(var(--mocha-text-s) * 1%), calc((var(--mocha-text-l) + 0) * 1%));
	--mocha-text-light: hsl(var(--mocha-text-h), calc(var(--mocha-text-s) * 1%), calc((var(--mocha-text-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-text-dark: hsl(var(--mocha-text-h), calc(var(--mocha-text-s) * 1%), calc((var(--mocha-text-l) - var(--mocha-darker-by)) * 1%));

	--mocha-subtext1-h: 227;
	--mocha-subtext1-s: 35;
	--mocha-subtext1-l: 80;
	--mocha-subtext1: hsl(var(--mocha-subtext1-h), calc(var(--mocha-subtext1-s) * 1%), calc((var(--mocha-subtext1-l) + 0) * 1%));
	--mocha-subtext1-light: hsl(var(--mocha-subtext1-h), calc(var(--mocha-subtext1-s) * 1%), calc((var(--mocha-subtext1-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-subtext1-dark: hsl(var(--mocha-subtext1-h), calc(var(--mocha-subtext1-s) * 1%), calc((var(--mocha-subtext1-l) - var(--mocha-darker-by)) * 1%));

	--mocha-subtext0-h: 228;
	--mocha-subtext0-s: 24;
	--mocha-subtext0-l: 72;
	--mocha-subtext0: hsl(var(--mocha-subtext0-h), calc(var(--mocha-subtext0-s) * 1%), calc((var(--mocha-subtext0-l) + 0) * 1%));
	--mocha-subtext0-light: hsl(var(--mocha-subtext0-h), calc(var(--mocha-subtext0-s) * 1%), calc((var(--mocha-subtext0-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-subtext0-dark: hsl(var(--mocha-subtext0-h), calc(var(--mocha-subtext0-s) * 1%), calc((var(--mocha-subtext0-l) - var(--mocha-darker-by)) * 1%));

	--mocha-overlay2-h: 228;
	--mocha-overlay2-s: 17;
	--mocha-overlay2-l: 64;
	--mocha-overlay2: hsl(var(--mocha-overlay2-h), calc(var(--mocha-overlay2-s) * 1%), calc((var(--mocha-overlay2-l) + 0) * 1%));
	--mocha-overlay2-light: hsl(var(--mocha-overlay2-h), calc(var(--mocha-overlay2-s) * 1%), calc((var(--mocha-overlay2-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-overlay2-dark: hsl(var(--mocha-overlay2-h), calc(var(--mocha-overlay2-s) * 1%), calc((var(--mocha-overlay2-l) - var(--mocha-darker-by)) * 1%));

	--mocha-overlay1-h: 230;
	--mocha-overlay1-s: 13;
	--mocha-overlay1-l: 55;
	--mocha-overlay1: hsl(var(--mocha-overlay1-h), calc(var(--mocha-overlay1-s) * 1%), calc((var(--mocha-overlay1-l) + 0) * 1%));
	--mocha-overlay1-light: hsl(var(--mocha-overlay1-h), calc(var(--mocha-overlay1-s) * 1%), calc((var(--mocha-overlay1-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-overlay1-dark: hsl(var(--mocha-overlay1-h), calc(var(--mocha-overlay1-s) * 1%), calc((var(--mocha-overlay1-l) - var(--mocha-darker-by)) * 1%));

	--mocha-overlay0-h: 231;
	--mocha-overlay0-s: 11;
	--mocha-overlay0-l: 47;
	--mocha-overlay0: hsl(var(--mocha-overlay0-h), calc(var(--mocha-overlay0-s) * 1%), calc((var(--mocha-overlay0-l) + 0) * 1%));
	--mocha-overlay0-light: hsl(var(--mocha-overlay0-h), calc(var(--mocha-overlay0-s) * 1%), calc((var(--mocha-overlay0-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-overlay0-dark: hsl(var(--mocha-overlay0-h), calc(var(--mocha-overlay0-s) * 1%), calc((var(--mocha-overlay0-l) - var(--mocha-darker-by)) * 1%));

	--mocha-surface2-h: 233;
	--mocha-surface2-s: 12;
	--mocha-surface2-l: 39;
	--mocha-surface2: hsl(var(--mocha-surface2-h), calc(var(--mocha-surface2-s) * 1%), calc((var(--mocha-surface2-l) + 0) * 1%));
	--mocha-surface2-light: hsl(var(--mocha-surface2-h), calc(var(--mocha-surface2-s) * 1%), calc((var(--mocha-surface2-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-surface2-dark: hsl(var(--mocha-surface2-h), calc(var(--mocha-surface2-s) * 1%), calc((var(--mocha-surface2-l) - var(--mocha-darker-by)) * 1%));

	--mocha-surface1-h: 234;
	--mocha-surface1-s: 13;
	--mocha-surface1-l: 31;
	--mocha-surface1: hsl(var(--mocha-surface1-h), calc(var(--mocha-surface1-s) * 1%), calc((var(--mocha-surface1-l) + 0) * 1%));
	--mocha-surface1-light: hsl(var(--mocha-surface1-h), calc(var(--mocha-surface1-s) * 1%), calc((var(--mocha-surface1-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-surface1-dark: hsl(var(--mocha-surface1-h), calc(var(--mocha-surface1-s) * 1%), calc((var(--mocha-surface1-l) - var(--mocha-darker-by)) * 1%));

	--mocha-surface0-h: 237;
	--mocha-surface0-s: 16;
	--mocha-surface0-l: 23;
	--mocha-surface0: hsl(var(--mocha-surface0-h), calc(var(--mocha-surface0-s) * 1%), calc((var(--mocha-surface0-l) + 0) * 1%));
	--mocha-surface0-light: hsl(var(--mocha-surface0-h), calc(var(--mocha-surface0-s) * 1%), calc((var(--mocha-surface0-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-surface0-dark: hsl(var(--mocha-surface0-h), calc(var(--mocha-surface0-s) * 1%), calc((var(--mocha-surface0-l) - var(--mocha-darker-by)) * 1%));

	--mocha-base-h: 240;
	--mocha-base-s: 21;
	--mocha-base-l: 15;
	--mocha-base: hsl(var(--mocha-base-h), calc(var(--mocha-base-s) * 1%), calc((var(--mocha-base-l) + 0) * 1%));
	--mocha-base-light: hsl(var(--mocha-base-h), calc(var(--mocha-base-s) * 1%), calc((var(--mocha-base-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-base-dark: hsl(var(--mocha-base-h), calc(var(--mocha-base-s) * 1%), calc((var(--mocha-base-l) - var(--mocha-darker-by)) * 1%));

	--mocha-mantle-h: 240;
	--mocha-mantle-s: 21;
	--mocha-mantle-l: 12;
	--mocha-mantle: hsl(var(--mocha-mantle-h), calc(var(--mocha-mantle-s) * 1%), calc((var(--mocha-mantle-l) + 0) * 1%));
	--mocha-mantle-light: hsl(var(--mocha-mantle-h), calc(var(--mocha-mantle-s) * 1%), calc((var(--mocha-mantle-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-mantle-dark: hsl(var(--mocha-mantle-h), calc(var(--mocha-mantle-s) * 1%), calc((var(--mocha-mantle-l) - var(--mocha-darker-by)) * 1%));

	--mocha-crust-h: 240;
	--mocha-crust-s: 23;
	--mocha-crust-l: 9;
	--mocha-crust: hsl(var(--mocha-crust-h), calc(var(--mocha-crust-s) * 1%), calc((var(--mocha-crust-l) + 0) * 1%));
	--mocha-crust-light: hsl(var(--mocha-crust-h), calc(var(--mocha-crust-s) * 1%), calc((var(--mocha-crust-l) + var(--mocha-lighter-by)) * 1%));
	--mocha-crust-dark: hsl(var(--mocha-crust-h), calc(var(--mocha-crust-s) * 1%), calc((var(--mocha-crust-l) - var(--mocha-darker-by)) * 1%));

}
