:root {
  /* Light Colors  */
  /* Catppuccin is a dark-mode color palete. The theme is similar for both modes. */

  --background: #51576d; /* Background color */
  --accent: #838ba7; /* Hover color */
  --cards: #737994; /* Cards color */

  /* Fonts Color */
  --fg: #c6d0f5; /* Foreground color */
  --sfg: #f2d5cf; /* Secondary Foreground color */

  /* Image background  */
  --imgcol: linear-gradient(
    rgba(87, 82, 104, 0.85),
    rgba(87, 82, 104, 0.85)
  ); /* Filter color */
}

.darktheme {
  /* Dark Colors  */

  --background: #303446; /* Background color */
  --accent: #51576d; /* Hover color */
  --cards: #414559; /* Cards color */

  /* Fonts Color */
  --fg: #c6d0f5; /* Foreground color */
  --sfg: #f2d5cf; /* Secondary Foreground color */

  /* Image background  */
  /* Image background  */
  --imgcol: linear-gradient(
    rgba(30, 30, 46, 0.85),
    rgba(30, 30, 46, 0.85)
  ); /* Filter color */
}
