:root {
	/* Light Colors  */
	/* Catppuccin is a dark-mode color palete. The theme is similar for both modes. */

	--background: #bcc0cc; /* Background color */
	--accent: #8c8fa1; /* Hover color */
	--cards: #ccd0da; /* Cards color */

	/* Fonts Color */
	--fg: #4c4f69; /* Foreground color */
	--sfg: #dc8a78; /* Secondary Foreground color */

	/* Image background  */
	--imgcol: var(--background);
}

.darktheme {
	/* Dark Colors  */

	--background: #eff1f5; /* Background color */
	--accent: #bcc0cc; /* Hover color */
	--cards: #ccd0da; /* Cards color */

	/* Fonts Color */
	--fg: #4c4f69; /* Foreground color */
	--sfg: #dc8a78; /* Secondary Foreground color */

	/* Image background  */
	/* Image background  */
	--imgcol: linear-gradient(
		rgba(30, 30, 46, 0.85),
		rgba(30, 30, 46, 0.85)
	); /* Filter color */
}
